<!-- Main header -->
<nav class="top-nav" id="mainNav">
    <div class="nav-content">
        <div class="logo">
            <a href="/">
                <img src="/images/branding/logo.png" alt="Project Catalyst Logo" class="logo-image">
            </a>
        </div>
    </div>
</nav>