<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Latest updates and news from Catalyst Voices">

  {{ components.favicon() }}

  <link rel="stylesheet" href="/styles/theme.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/post.css">
  <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>
  {{ components.header() }}

  <main class="post-container">
    <article>
      <header class="post-header">
        {% if publishDate %}
        <time class="publish-date" datetime="{{ publishDate }}">
          PUBLISHED: {{ publishDate }}
        </time>
        {% endif %}



        <div class="post-meta">
          {% if author %}
          <div class="author">
            {# <img src="/images/authors/{{ author | lower | replace(" ", "") }}.jpg" alt="{{ author }}"> #}
            <img src="https://design-journal.web.app/images/authors/JohnSmith.jpg">
            <div class="author-info">
              <div class="name">{{ author }}</div>
              <div class="role">{{ role | default("Author") }}</div>
            </div>
          </div>
          {% endif %}

          <div class="share">
            Share
            <div class="icons">
              <a href="https://twitter.com/share?url={{ url }}" target="_blank" aria-label="Share on X (Twitter)">
                <img src="/images/icons/x.svg" alt="X (Twitter) icon">
              </a>
              <a href="https://www.linkedin.com/shareArticle?url={{ url }}" target="_blank"
                aria-label="Share on LinkedIn">
                <img src="/images/icons/linkedin.svg" alt="LinkedIn icon">
              </a>
              <a href="mailto:?subject={{ title }}&body={{ url }}" aria-label="Share via Email">
                <img src="/images/icons/email.svg" alt="Email icon">
              </a>
            </div>
          </div>
        </div>
      </header>

      <div class="post-content">
        {{ content }}
      </div>
    </article>
  </main>

  {{ components.footer() }}
</body>

</html>